.aboutus {
    text-align: center;
    background-color: #000;
    color: #fff;
}

.clubs1 {
    display: inline-block;
    width: 10vw;
    margin-left: 10vw;
}

.clubs2 {
    display: inline-block;
    width: 10vw;
    margin-right: 10vw;
    /* opacity: 0.5; */
}